h1{
    width: 75%;
    background-color: aquamarine;
    border-radius: 100%;
    padding: 10px;
    border-style: groove;
    border-color: aqua;
    margin: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
canvas{
    border: 10px solid blue;
    margin-left: 400px;
}
img{
    width: 30px;
}
button{
    margin: 10px;
}
.btn{
    width:10px;
    height: 100px;
}
footer{
    float: bottom;
    padding-left: 90%;
}